head {
	 float: left;
}
 head {
	 float: right;
}
.logo1 {
	position:absolute;
	left: 450px;
	top: 40px;
}
.container0 {
	text-align: center;
  	display: run-in;
	font-size: 2rem;
	}
.container {
	background-image: linear-gradient(to right, #ffffff, #814a4a);
    margin: 2em auto;
    padding: 10%;
	width: auto;
    height: auto;
	font-size: 80%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
	}
	.col-1-2 {
	margin: 2em auto;
    padding: 10px;
	width: auto;
    height: auto;
  	display: run-in;
  	align-items: center;
  	justify-content: center
	}
	.col-2-2 {
	margin: 2em auto;
	padding: 10px;
	width: auto;
	height: auto;
  	display: run-in;
  	align-items: center;
  	justify-content: center
	}
 body {
	 background: #000000;
	 color: #000000;
 }
 body p {
	text-align: center;
 }